<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://localhost/final_test
      </property>
      
      <property name = "hibernate.connection.username">
         root
      </property>
      
      <property name = "hibernate.connection.password">
         pass
      </property>
      
      <!-- List of XML mapping files -->
	  <mapping resource = "Block.hbm.xml"/>
	  <mapping resource = "Course.hbm.xml"/>
	  <mapping resource = "Divison.hbm.xml"/>
	  <mapping resource = "Hunk.hbm.xml"/>
	  <mapping resource = "PreGenSection.hbm.xml"/>
	  <mapping resource = "Professor.hbm.xml"/>
	  <mapping resource = "ProfessorQualifications.hbm.xml"/>
	  <mapping resource = "ProfessorConstraint.hbm.xml"/>
	  <mapping resource = "Room.hbm.xml"/>
	  <mapping resource = "RoomTypes.hbm.xml"/>
	  <mapping resource = "Section.hbm.xml"/>
	  <mapping resource = "UserConstraint.hbm.xml"/>
	  <mapping resource = "UserPreferece.hbm.xml"/>
	  
      
   </session-factory>
</hibernate-configuration>