html, body {
    height: 100%;   
}

.submitButton {
  margin: 50px;
  height: 10%;
  width: 30%  
}

.ClickableTimeBlock {
  line-height: 8em;
}

#timeBlocks {
  height: 100%;
  text-align: center;
}

.col-md-2 {
  outline: 2px solid #ccc;  
}

.col-md {
  height : 8em;
  margin-left: 40px;
  outline: 2px solid #ccc;
}

.row
  height: 100%;
  vertical-align: middle;
  text-align: center;
}


