.template{
  width: 80%;
  margin: 0px auto 20px;
  position:relative;
  margin-top: 4%;
}
div.ftl-vertical-tab-container{
  z-index: 0;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 0;
  margin-left: 14%;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.ftl-vertical-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.ftl-vertical-tab-menu div.list-group{
  margin-bottom: 0;
  position: fixed;
  left: 0;
  margin-top: 1.5%;
  background-color: #283c51;
}
div.ftl-vertical-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.ftl-vertical-tab-menu div.list-group>a .glyphicon,
div.ftl-vertical-tab-menu div.list-group>a .fa {
  color: #444;
}
div.ftl-vertical-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.ftl-vertical-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.ftl-vertical-tab-menu div.list-group>a.active,
div.ftl-vertical-tab-menu div.list-group>a.active .glyphicon,
div.ftl-vertical-tab-menu div.list-group>a.active .fa{
  background-color: #099;
  background-image: #089c9c;
  color: #ffffff;
}
div.ftl-vertical-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #089c9c;
}

div.ftl-vertical-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 5%;
}
.my_text{margin-top:0;color:#333; text-align:justify; font-size:14px; line-height:24px; margin:10px auto;}
div.ftl-vertical-tab div.ftl-vertical-tab-content:not(.active){
  display: none;
}
.clearfix{clear:both}
.ftl{font-size:16px;padding:50px 0 20px;margin:0 auto;font-style:italic;text-align:center;}
.ftl a{color:#09C;text-decoration:none !important;}
.ftl a:hover{color:#999}

.navbar-fixed-top {
    background-color: #444;
    border-color: #e7e7e7;
}

.col-lg-3 {
    width: 17%;
}
