<!DOCTYPE html> {% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/navbarLeft.css' %}">

<nav class="navbar navbar-default" style="margin-bottom: 0px;">
	<div class="container-fluid">

		<div class="navbar-header">

		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">contact</a></li>
				<li><a href="#">OSD Support</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Scheduler Finished
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a class="text-center" href="#">
						<strong>See All Alerts</strong>
						<i class="fa fa-angle-right"></i>
					</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#"><i class="fa fa-user fa-fw"></i> Hello, {{request.user.username}}!</a>
						</li>
						<li><a href="#">Staff?: <b>{{ request.user.is_staff }}</b></a>
						</li>
						<li><a href="{% url 'userSettings' %}"><i class="fa fa-gear fa-fw"></i> Settings</a>
						</li>
						<li class="divider"></li>
						<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
						</li>
					</ul>
				</li>
				<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
	      	<i class="glyphicon glyphicon-menu-hamburger"></i>
	      </button>
			</ul>
		</div>
	</div>
</nav>

<nav id="sidebar">
	<div class="sidebar-header">
	</div>
	<ul class="list-unstyled components">
		<p>Champlain Scheduler</p>
		<li><a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
		<li>
			<a href="{% url 'professor_settings' %}"><i class="fa fa-edit"></i> Input Availability</a>
		</li>
		<li>
			<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
				<i class="glyphicon glyphicon-duplicate"></i> Data page</a>
			<ul class="collapse list-unstyled" id="pageSubmenu">
				<li><a href="{% url 'PDProfSettings' %}"><i class="fa fa-files-o fa-fw"></i> Review Schedule Data</a></li>
				<li><a href="#"><i class="fa fa-tasks fa-fw"></i> Review Course Data</a></li>
				<li><a href="{% url 'upload' %}"><i class="fa fa-cloud-upload"></i> Upload Data</a></li>
			</ul>
		</li>
		<li>
			<a href="{% url 'run' %}"><i class="fa fa-power-off"></i> Run Scheduler</a>
		</li>
		<li>
			<a href="{% url 'course_selection' %}"><i class="glyphicon glyphicon-edit"></i> Course Selection</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-download"></i> Download Schedule</a>
		</li>
		<li>
			<a href="{% url 'history' %}"><i class="fa fa-table fa-fw"></i> View Past Courses</a>
		</li>
	</ul>

	<ul class="list-unstyled CTAs">
		<li><a href="{% url 'run' %}" class="download_algorithm"> Start Algorithm</a></li>
		<br/>
		<li><a href="#" class="output"> Download outputs</a></li>
	</ul>
</nav>
