{% load poll_extras %}

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{% url 'index' %}">Champlain Scheduler</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#">contact</a></li>
			<li><a href="#">OSD Support</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-alerts">
					<li class="divider"></li>
					<li>
						<a href="#">
							<div>
								<i class="fa fa-upload fa-fw"></i> Scheduler Finished
								<span class="pull-right text-muted small">4 minutes ago</span>
							</div>
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a class="text-center" href="#">
							<strong>See All Alerts</strong>
							<i class="fa fa-angle-right"></i>
						</a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-user">
					<li><a><i class="fa fa-user fa-fw"></i> Hello, {{request.user.username}}!</a>
					</li>
					<li class="divider"></li>
					<li><a href="{% url 'userSettings' %}"><i class="fa fa-gear fa-fw"></i> Settings</a>
					</li>
					<li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
					</li>
				</ul>
			</li>
			<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
				<i class="glyphicon glyphicon-menu-hamburger"></i>
			</button>
		</ul>
	</div>
</nav>

<nav id="sidebar">
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">

				<!-- TODO: Add labels for roles in sidebar, or at least add dividers -->

				<li>
					<a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
				</li>
				{% if request.user|has_group:"Professor" %}
				<li>
					<a href="{% url 'professor_settings' %}"><i class="fa fa-edit fa-fw"></i> Input Schedule Data</a>
				</li>
				{% endif %}
				{% if request.user|has_group:"Program director" %}
				<li>
					<a href="{% url 'PDProfSettings' %}"><i class="fa fa-files-o fa-fw"></i> Review Schedule Data</a>
				</li>
				{% endif %}
				{% if request.user|has_group:"Program director" %}
				<li>
					<a href="{% url 'course_selection' %}"><i class="fa fa-tasks fa-fw"></i> Input Course Data</a>
				</li>
				{% endif %}
				{% if request.user|has_group:"Division head" %}
				<li>
					<a href="{% url 'course_review' %}"><i class="fa fa-tasks fa-fw"></i> Review Course Data</a>
				</li>
				{% endif %}
				{% if request.user|has_group:"Registrar" %}
				<li>
					<a href="{% url 'upload' %}"><i class="fa fa-tasks fa-fw"></i> Upload Data</a>
				</li>
				{% endif %}
				{% if request.user|has_group:"Registrar" %}
				<li>
					<a href="{% url 'run' %}"><i class="fa fa-tasks fa-fw"></i> Run Scheduler</a>
				</li>
				{% endif %}
				{% if request.user|has_group:"Registrar" %}
				<li>
					<a href="{% url 'history' %}"><i class="fa fa-table fa-fw"></i> View Season History</a>
				</li>  
				{% endif %}

				<!-- TODO: Role Protection -->
				<li>
					<a href="#"><i class="fa fa-download"></i> Download Schedule</a>
				</li>
				<li>
					<a href="{% url 'history' %}"><i class="fa fa-table fa-fw"></i> View Past Courses</a>
				</li>
				<li>
					<ul class="list-unstyled CTAs">
						<li><a href="{% url 'run' %}" class="download_algorithm"> Start Algorithm</a></li>
						<br/>
						<li><a href="#" class="output"> Download outputs</a></li>
					</ul>
				</li>

			</ul>
		</div>
	</div>
</nav>
