<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

  <title>Champlain Scheduler</title>

  <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/morrisjs/morris.css' %}" rel="stylesheet">
  <link href="{% static '/dist/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'css/cssLocal.css' %}">
  <link rel="stylesheet" href="{% static 'css/course_review_box.css' %}">
  <link rel="stylesheet" href="{% static 'css/import_data.css' %}">

  <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap2.2.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
  <link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
</head>

<body onload="setup()" )>

  <div id="wrapper">
    {% include 'blank.html' %}

    <div id="page-wrapper">
      <!-- Start: Import CSV-->
      {% block content %}
      <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
      <div class="tabs">
        <div class="tab">
          <input value="blocks" type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
          <label for="tab-1" class="tab-label">Time Block</label>
          <div class="tab-content">
            <p> Time Block Data </p>
            <hr>
              {% include 'views_tabs.html' %}
          </div>
        </div>
        <div class="tab">
          <input value="professor" type="radio" name="css-tabs" id="tab-2" class="tab-switch">
          <label for="tab-2" class="tab-label">Professor Data</label>
          <div class="tab-content">
            <p> Professor Data </p>
            <hr>
            {% include 'views_tabs.html' %}
          </div>
        </div>
        <div class="tab">
          <input value="courses" type="radio" name="css-tabs" id="tab-3" class="tab-switch">
          <label for="tab-3" class="tab-label">Course Data</label>
          <div class="tab-content">
            <p> Course Data </p>
            <hr>
            {% include 'views_tabs.html' %}
          </div>
        </div>
        <div class="tab">
          <input value="rooms" type="radio" name="css-tabs" id="tab-4" class="tab-switch">
          <label for="tab-4" class="tab-label">Room Data</label>
          <div class="tab-content">
            <p> Room Data </p>
            <hr>
            {% include 'views_tabs.html' %}
          </div>
        </div>
        <div class="tab">
          <input value="divisions" type="radio" name="css-tabs" id="tab-5" class="tab-switch">
          <label for="tab-5" class="tab-label">Division Data</label>
          <div class="tab-content">
            <p> Division Data </p>
            <hr>
            {% include 'views_tabs.html' %}
          </div>
        </div>
      </form>
      </div>
      {% endblock %}

    </div>
    <script src="{% static 'js/course_review_jsbox.js' %}"></script>
    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static '/dist/js/sb-admin-2.js' %}"></script>
    <script src="{% static 'js/professorSettings.js' %}"></script>
    <script src="{% static 'js/import_data.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


</body>

</html>
