<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <title>Champlain Scheduler</title>

    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">
	<link href="{% static '/vendor/morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static '/dist/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static '/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static '/cssLocal/styles.css' %}">

</head>

<body>

    <div id="wrapper">
{% include 'blank.html' %}

        <div id="page-wrapper">
		<input type="checkbox" name="division" value="Business">Business Division Schedule<br>
		<input type="checkbox" name="division" value="CCM">Communication & Creative Media Division Schedule<br>
		<input type="checkbox" name="division" value="EHS">Education & Human Studies Division Schedule<br>
		<input type="checkbox" name="division" value="ITS">Information Technology & Sciences Division Schedule<br>
		<input type="checkbox" name="division" value="Core">Core Division Schedule<br>
		<input type="checkbox" name="division" value="Cont">Continuing Professional Studies Division Schedule<br>
        <button type="button" id="loginButton">Run Scheduler</button> <button type="button">Cancel Scheduler</button>
        </div>

    </div>

    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/vendor/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static '/dist/js/sb-admin-2.js' %}"></script>
	<script src="{% static 'js/professorSettings.js' %}"></script>

</body>

</html>
